.main-div{
    border: 3px solid rgb(10, 10, 10);
    width: 300px;
    height: 200px;
    margin-top: 15%;
    margin-left: 40%;
    padding: 10px;
    background-color: rgb(215, 216, 213);
    font-size: x-large;

}
.numbers-div{
    margin-top: 20px;
}
button{
    width: 25px;
    height: 25px;
    background-color: rgb(189, 183, 183);
    margin-left: 30px;
    margin-top: 20px;
}